
.input1{
    width: 500px;
    margin-left: 20px;
    border-radius: 4px;
}
.search-icon{
    position: relative;
    //position: absolute;
    // z-index: 10;
    //right: 50%;
    right: 5%;
    //top:22px
    top: 10px;
}